@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins: "Poppins", serif;
  --gorditas: "Gorditas", serif;
  --white: #f0fdfa;
  --black: #042e2f;
  --light-color: #9af5e7;
  --dark-color: #107572;
  --primary-color: #47e6d3;
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

a,
p,
b,
h1 {
  font-family: var(--poppins);
}

i {
  font-family: initial;
  font-size: 3rem;
}

body {
  background-color: var(--black);
}

html {
  scroll-behavior: smooth;
}

/* =============================== BASE ===============================*/
header {
  width: 100%;
  background-color: var(--black);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  color: var(--white);
  font-size: 2rem;
  margin-inline: 2rem;
  column-gap: 2rem;
}

header .title .title-text {
  font-family: var(--gorditas);
}

.search-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  margin-inline: 8rem;
}

.search-container input {
  width: 30rem;
  padding-block: 1rem;
  background: transparent;
  border-radius: 2rem;
  border: 2px solid var(--white);
  text-indent: 2rem;
  color: var(--white);
}

.search-container input::placeholder {
  text-indent: 2rem;
  color: var(--white);
}

.search-container button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: var(--white);
}

/* MAIN */
.container-movies {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  gap: 3rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
}

.movie {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.movie .container-image {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}

.movie .container-image img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}

.movie .info {
  height: 30%;
  width: 100%;
  color: var(--white);
}

.movie .info .title {
  font-size: 1.2rem;
  text-align: center;
}

.movie .info .yearType {
  display: flex;
  justify-content: space-between;
}

.movie button {
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--black);
  border-radius: 1rem;
}

#notFound {
  text-align: center;
  color: var(--white);
}

/* popup */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 50%;
  height: 50%;
  background-color: var(--white);
}

.dNone {
  /* display: none; */
}
