@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins: "Poppins", serif;
  --gorditas: "Gorditas", serif;
  --white: #f0fdfa;
  --black: #042e2f;
  --light-color: #9af5e7;
  --dark-color: #107572;
  --primary-color: #47e6d3;
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--poppins);
}

body {
  background-color: var(--white);
}

html {
  scroll-behavior: smooth;
}

/* =============================== BASE ===============================*/
header {
  width: 100%;
  background-color: var(--black);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  color: var(--white);
  font-size: 2rem;
  margin-inline: 2rem;
  column-gap: 2rem;
}

header .title .title-text {
  font-family: var(--gorditas);
}

.search-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  margin-inline: 8rem;
}

.search-container input {
  width: 30rem;
  padding-block: 1rem;
  background: transparent;
  border-radius: 2rem;
  border: 2px solid var(--white);
  text-indent: 2rem;
  color: var(--white);
}

.search-container input::placeholder {
  text-indent: 2rem;
  color: var(--white);
}

.search-container button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: var(--white);
}
